<div class="jumbotron center">
  <h1>Welcome to Pantry Chefs</h1>
  <h2>Share your recipes with us!</h2>
  <p><%= link_to "Signup to add recipes", signup_path, class: "btn btn-danger btn-lg btn-xlarge" %></p>
</div>

<!-- Example row of columns -->
<div class="row">
  <div class="col-lg-4">
    <h2>Explore Recipes</h2>
    <p>We have a ton of recipes for you to explore, not sure about the app yet? Don't worry, just view as a guest. We're sure you'll come back to signup at a later time.</p>
    <p><%= link_to "View all recipes as a Guest!", recipes_path, class: "btn btn-primary btn-xlarge" %></p>
  </div>
  <div class="col-lg-4">
    <h2>Unlock all features!</h2>
    <p>Signup for the app and unlock all it's magic. Create and share recipes, hangout with other Chefs in the ChefChat, comment on recipes you have tried out, like/dislike and much much more!</p>
    <p><%= link_to "Signup for an account", signup_path, class: "btn btn-primary btn-xlarge" %></p>
 </div>
  <div class="col-lg-4">
    <h2>Have an ingredient, need ideas?</h2>
    <p>View our ingredients listing page and select and ingredient that you have, to view recipes associated with it for cooking ideas!</p>
    <p><%= link_to "View Ingredient Listing", fixings_path, class: "btn btn-primary btn-xlarge" %></p>
  </div>
</div>