$navbar-default-bg: #EA7A33;

@import "bootstrap-sprockets";
@import "bootstrap";

.center {
  text-align: center;
}

.jumbotron {
  background-image: asset-url("food.jpg");
  background-size: cover;
  height: 300px;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.jumbotron h1 {
  color: #fff;
  margin-bottom: 30px;
  letter-spacing: -1px;
  text-align: center;
  font-weight: bold;
}

.jumbotron h2 {
  color: black;
  margin-bottom: 30px;
  letter-spacing: -1px;
  text-align: center;
  font-weight: bold;
}

.btn-xlarge {
  background-color: #EA7A33;
}

.btn-xlarge:hover {
  color: #fff;
  text-decoration: none;
}

.social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }
 .social {
     -webkit-transform: scale(0.8);
     /* Browser Variations: */
     
     -moz-transform: scale(0.8);
     -o-transform: scale(0.8);
     -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
     -o-transition-duration: 0.5s;
 }

/*
    Multicoloured Hover Variations
*/
 
 #social-fb:hover {
     color: #3B5998;
 }
 #social-tw:hover {
     color: #4099FF;
 }
 #social-gp:hover {
     color: #d34836;
 }
 #social-em:hover {
     color: #f39c12;
 }


